html {
    line-height: 1.45;
}
body {
    text-align: center;
    font-family: "Exo 2",Tahoma,sans-serif;
}
a {
    color: black;
}
.main {
    min-height: 100vh;
    background: repeat left top 0/20% url("./background-white.png");   
}
.temporary_bug_warning {
    width:100%;
    padding:  3px;
    background-color: gray;
    font-size: 12px;   
}
.container-fluid {
    width:100%;
    max-width:100%;
    padding: 40px 45px 0 45px;
    margin: 0 auto 40px auto;
}
.logo {
    width:fit-content;
    margin: 0 auto 0 auto;
}
.link {
    margin: 0 auto 0 auto;
    width:fit-content;
}
.link .picture img {
    width:120px;
}
.link .name {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
}
.section-content {
    width:100%;
    max-width:100%;
    padding: 0 45px;
}
form#form-equation {
    box-sizing: border-box;
    width: 50%;
    max-width:500px;
    margin: 20px auto 20px auto;
    border: 2px solid #7140DC;
    border-radius: 15px;
    padding: 0;
    background: white;
}
.inputgroup {
    margin: 0;
    border:0;
    padding: 0;
    background: none;
    display: flex;
}
.input {
    width:100%;
    border:0;
    padding:  5px 10px;
    background:none;
    font-size: 18dpx;
}
.button-wrapper {
    display: flex;
    align-items: center;
}
.button-wrapper button {
    width: 24px;
    height: 24px;
    margin-right:10px;
    border-radius: 5px;
    padding:0;
    background: url("./лого.png") 0/100%;
}
.button-wrapper button span {
    display: none;
}
.instruction-window {
    box-sizing: border-box;
    width:100%;
    max-width:650px;
    margin: 40px auto 40px auto;
    border: 2px solid #7140DC;
    border-radius: 15px;
    padding: 5px 10px;
    background: white;
    text-align:start; 
    font-size: 20px;
}
.alert-alert {
    box-sizing: border-box;
    width:100%;
    max-width:650px;
    margin: 40px auto 40px auto;
    padding: 5px 10px 0 10px;
    border: 2px solid #7140DC;
    border-radius: 15px;
    background: #efe8ff;
}
.alert-alert span {
    font-size:20px;
}
.alert-alert-picture {
    margin: 20px auto 0 auto;
    width:100%;
    max-width:400px;
}
.alert-alert-picture img {
    width:100%;
}
.equation {
    box-sizing: border-box;
    width:100%;
    margin: 40px auto 40px auto;
    padding:0 0 0 0;
}
.equation-args {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.arrow {
    margin: 20px auto 20px auto;
    width:200px;
}
.arrow img {
    width:inherit;
}
.equation-element {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 20px 10px 20px 10px;
}
.equation .charge, .equation .oxidation-number, .equation .oxidation-number-data:before {
    position: static;
    font-size: 0.7em;
    vertical-align: 0.8em;
}
.equation .oxidation-number-data:before {
    content: attr(data-on);
}
.equation .oxidation-number, .equation .oxidation-number-data:before {
    opacity: 1;
}
.compound {
    width: 150px;
    font-family: 'PT Sans', sans-serif;
}

.compound-name {
    height:100%;
    width: inherit;
}
.compound-name .compound {
    font-size:30px;

}
.compound-picture {
    width: inherit;
    height:150px;
}
.compound-picture img {
    width:inherit;
    height:inherit;
}
.explanation-block {
    box-sizing: border-box;
    width:100%;
    max-width:1000px;
    margin: 40px auto 40px auto;
    border: 2px solid #7140DC;
    border-radius: 15px;
    box-shadow: 0 0 30px 1px;
    padding: 5px 50px;
    background: white;
    text-align:start; 
    font-size: 20px;    
}
.explanation-video {
    margin: 20px auto 20px auto;
    width: 40vw;
    height:30vw;
}
.explanation-video iframe {
    width:inherit;
    height: inherit;
}
.group {
    font-family: 'PT Sans', sans-serif;
}
.space {
    display: none;
}
.citations {
    display:none;
}
.btn-link {
    display: none;
}
.footer {
    width:100%;
    background-color: gray;
    position:absolute;
    bottom:0;
}